
.login {
    margin-bottom: 0.4rem;
    font-size: 1.6rem;
    font-family: "FranklinGothic-Medium", sans-serif;
}

.auth {
  font-size: 3.3rem;
  margin: 3vh 0;
  font-family: "FranklinGothic-DemiCond", sans-serif;
}

.signInButton {
  padding: 1rem 1.75rem;
  border-radius: 1.7rem;
  width: fit-content;
  font-size: 1.3rem;
  margin-left: 8.5rem;
  text-align: center;
  border: 2px solid var(--color-dark);
  transition-delay: 0.1s; 
}

.inputLogin {
  width: 25rem;
}

.rightSide{
  font-family: "FranklinGothic-DemiCond", sans-serif;
  margin: 23vh 7vw 23vw 0;
  width: 32vw;
  font-size: 2.1rem;
  padding-top: 12.5vh;
}

.leftSide {
  margin: 20vh 15vw;
}

.page {
  display: flex;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: var(--color-dark);
  transition: .5s all;
  transition-delay: 0.1s;
}

a:hover{
  background-color: var(--color-dark);
  color: white;
  transition-delay: 0.1s;
}

@keyframes error {
  0% {
    background: #FFFFFF;
  }
  50% {
    background: #ffc8c1;
  }
  100% {
    background: #FFFFFF;
  }
}
