.AppContainer {
  width: 100%;
  height: 100%;
}

.DayBlock {
  width: 20%;
  height: 50%;

  margin: 0;
  padding: 0 0 0 1vw;

  /*background: aqua;*/
}


.weekday {
  font-weight: 700;
  font-size: 4.25vw;

  margin: 0;
  padding: 0;

  position: relative;
  top: -1.5vh;
  left: -0.3vw;
}

.date {
  font-size: 2vw;

  position: relative;
  top: -2vh;
}

.eventtitle{
  font-size: 1vw;
  margin-bottom: 2.25vh;
}